Source: clearwater-infinispan
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: infinispan
Architecture: all
Depends: openjdk-6-jre-headless
Description: Infinispan, an extremely scalable, highly available key/value NoSQL datastore

Package: clearwater-infinispan
Architecture: all
Depends: clearwater-infrastructure, infinispan
Conflicts: clearwater-memcached
Suggests: clearwater-secure-connections
Description: Infinispan configured for Clearwater
